@using AMSoft.CloudOffice.Domain.Core
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


@foreach (var c in User.Claims)
{
    <p>
        @c.Type, @c.Value
    </p>
}