@model IEnumerable<string>
@{ 
  this.ViewBag.Title = "View from Test Module";
}
<h1>View from Test Module (Added as Resource)</h1>
<p>Installed extensions:</p>
<ul>
@foreach (var item in this.Model)
{
  <li>@item</li>
}
</ul>