<!doctype html>
<html>
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Clever - Bootstrap 4 Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Clever - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <!-- Icons -->
    <link href="~/dist/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/dist/assets/css/simple-line-icons.css" rel="stylesheet">
    <!-- Premium icons -->
    <link href="~/dist/assets/css/glyphicons.css" rel="stylesheet">
    <link href="~/dist/assets/css/glyphicons-filetypes.css" rel="stylesheet">
    <link href="~/dist/assets/css/glyphicons-social.css" rel="stylesheet">

</head>
<body>
    @RenderBody()
</body>
</html>